* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
  /* max-width: 1920px;
  max-height: 3894px; */
  font-family: "Roboto", sans-serif;
}

body {
  background-color: rgb(21 23 25);
}

.sections {
  margin: 0;
}
